.navigationMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.64%;
    height: 66px;
    min-width: 52.7%;
    border-bottom: 2px solid #F8F8F8;
    @media screen and (max-width: 1000px) {
        height: 40px;
    }
}