.bannersContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 0 6.64%;
    @media screen and (max-width: 1300px) {
        justify-content: center;
        margin-top: 16px;
    }
}