.actionsContainer {
    display: flex;
    justify-content: space-between;
    width: 130px;
}

.imgContainer {
    width: 18px;
    height: 18px;
    & img {
        width: 100%;
        height: 100%;
    }
}