@import "../../Sass/Mixins.scss";

.pageHeaderContainer {
    padding: 0 6.64%;
    background: #F8F8F8;
    .navigationContainer {
        display: flex;
        justify-content: space-between;
        .links {
            display: flex;
            justify-content: space-between;
            & a {
                text-decoration: none;
            }
            .home {
                @include text(11px, 500, 18px, #121212);
                opacity: 0.6;
            }
            .imgContainer {
                width: 9px;
                height: 18px;
                margin: 0 6px;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            & span {
                @include text(11px, 500, 18px, #121212);
            }
        }
        .shareContainer {
            display: flex;
            justify-content: space-between;
            width: 59.2px;
            .imgContainer {
                width: 14.4px;
                height: 14.4px;
                & img {
                    width: 100%;
                    height: 100%;
                    opacity: 0.6
                }
            }
            .text {
                @include text(11px, 500, 18px, #121212);
                opacity: 0.6;
            }
        }
    }
    .titleContainer {
        height: 70px;
        @include text(26px, 600, 36px, #121212);
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}