@mixin text($fontSize, $fontWeight, $lineHeight, $color) {
    font-family: "Spartan", sans-serif;
    font-style: normal;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $color;
}