.womanBannerConatainer {
    max-width: 255px;
    max-height: 200px;
    & img {
        height: 100%;
        width: 100%;
    }
    @media screen and (max-width: 610px) {
        margin-right: 15px;
    }
}