@import "../../../../../../Common/Sass/Mixins.scss";

.womanBannerConatainer {
    position: relative;
    max-width: 255px;
    max-height: 200px;
    & img {
        height: 100%;
        width: 100%;
    }
    @media screen and (max-width: 610px) {
        margin-right: 16px;
    }
    .textContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 118px;
        height: 48px;
        background: #FFFFFF;
        border-radius: 4px;
        & span {
            @include text(14px, 600, 22px, #121212);
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
    }
}