.socialNetworksLinksContainer {
    display: flex;
}

.facebook {
    position: relative;
    bottom: 5px;
    width: 12.13px;
    height: 12.13px;
    margin-right: 10px;
}

.facebook img {
    width: 100%;
    height: 100%;   
}


.twitter {
    position: relative;
    bottom: 5px;
    width: 12.9px;
    height: 10.5px;
    margin-right: 10px;
}

.twitter img {
    width: 100%;
    height: 100%;   
}

.instagram {
    position: relative;
    bottom: 5px;
    width: 10.93px;
    height: 10.93px;
    margin-right: 10px;
}

.instagram img {
    width: 100%;
    height: 100%;   
}

.pinterest {
    position: relative;
    bottom: 5px;
    width: 12.25px;
    height: 12.25px;
}

.pinterest img {
    width: 100%;
    height: 100%;   
}