@import "../../../../Common/Sass/Mixins.scss";

.contactUsContainer {
    display: flex;
    flex-direction: column;
    .title {
        @include text(12px, 600, 13px, #121212);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 8px
    }
    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 136px;
        .placeMarkItem {
            display: flex;
            height: 21.2px;
            .imgContainer {
                position: relative;
                top: -4px;
                width: 13.86px;
                height: 13.86px;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            & span {
                margin-left: 11px;
                @include text(12px, normal, 13px, #121212);
                opacity: 0.8;
            }
        }
        .telephoneItem {
            display: flex;
            align-items: center;
            height: 21.2px;
            .imgContainer {
                position: relative;
                top: -4px;
                width: 12px;
                height: 13.86px;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            & span {
                margin-left: 10.25px;
                @include text(12px, normal, 13px, #121212);
                opacity: 0.8;
            }
        }
        .workingHoursItem {
            display: flex;
            align-items: center;
            .imgContainer {
                width: 13.5px;
                height: 13.5px;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            & span {
                margin-left: 10.25px;
                @include text(12px, normal, 13px, #121212);
                opacity: 0.8;
            }
        }
        .emailItem {
            display: flex;
            align-items: flex-end;
            .imgContainer {
                position: relative;
                top: 4px;
                width: 13.5px;
                height: 10.5px;
                & img {
                    width: 100%;
                    height: 100%;
                }
            }
            & span {
                margin-left: 10.25px;
                @include text(12px, normal, 13px, #121212);
                opacity: 0.8;
                text-decoration: underline;
            }
        }
    }
}