.shopInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6.64%;
    height: 24px;
    background-color: #121212;
    @media screen and (max-width: 550px) {
        height: 55px;
    }
}