.newsContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 0 96px 0;
    padding: 0 6.64%;
    flex-wrap: wrap;
    @media screen and (max-width: 1300px) {
        justify-content: center;
        margin: 16px 0;
    }
}