@import "../../../../Common/Sass/Mixins.scss";

.linksContainer {
    display: flex;
    justify-content: space-between;
    width: 526px;
    @media screen and (max-width: 1000px) {
        display: none;
    }
    & a {
        @include text(14px, normal, 16px, #121212);
        text-decoration: none;
    }
}