.clothesContetContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: inherit;
    @media screen and (max-width: 580px) {
        justify-content: center;
    }
}