@import "../../../../../../Common/Sass/Mixins.scss";

.additionalInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 204px;
    border-bottom: 2px solid #E6E6E6;
    .title {
        margin-bottom: 32px;
        & span {
            @include text(12px, 600, 18px, #121212);
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
    }
    .addInfoContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90px;
        .parameter {
            .key {
                margin-right: 4px;
                @include text(14px, 500, 22px, #121212);
            }
            .value {
                @include text(14px, normal, 22px, #121212);
                opacity: 0.6;
            }
        }
    }
}